.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;

  .button {
    padding: 10px 20px;
    border-radius: 10px;
  }

  a.active {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  }
}

.active {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
}


