.Quiz {
  width: 100%;

  &__control{
    display: flex;
    justify-content: space-around;

    button{
      background-color: var(--primary-color);
      color: white;
    }
  }

  &__over{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      margin: 10px 0;
    }
  }
}

.wrapper{
  padding: 30px;
}